<mat-toolbar color="primary" class="app-toolbar">
  <div class="container-fluid d-flex align-items-center">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="me-2" *ngIf="isAuthenticated">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/tasks" routerLinkActive="active-link">
        <mat-icon>assignment</mat-icon>
        <span>All Tasks</span>
      </button>
      <button mat-menu-item routerLink="/tasks/new" routerLinkActive="active-link">
        <mat-icon>add_task</mat-icon>
        <span>New Task</span>
      </button>
    </mat-menu>

    <a mat-button routerLink="/" class="brand-logo">
      <mat-icon class="me-1">task_alt</mat-icon>
      <span class="fw-bold">TaskManager</span>
    </a>

    <span class="spacer"></span>

    <!-- Auth buttons -->
    <ng-container *ngIf="!isAuthenticated">
      <button mat-button routerLink="/login" class="me-2">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <button mat-raised-button routerLink="/register" color="accent">
        <mat-icon>person_add</mat-icon>
        Register
      </button>
    </ng-container>

    <!-- User menu when authenticated -->
    <ng-container *ngIf="isAuthenticated">
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <div class="user-info" mat-menu-item disabled>
          <div class="user-name">{{ currentUser?.username }}</div>
          <div class="user-email">{{ currentUser?.email }}</div>
          <div class="user-role">{{ currentUser?.role }}</div>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
